---
const articles = [
  {
    title: "useAsync hook",
    desc: " a simple hook to synchronize state updates without useEffect",
    createdAt: "Fri Jun 09 2023",
    img: "https://images.unsplash.com/photo-1496664444929-8c75efb9546f?ixlib=rb-4.0.3&q=85&fm=jpg&crop=entropy&cs=srgb&w=3600",
    target: "../blogs/blog-1",
  },
  {
    title: "Getting Started with zustand",
    desc: " beginners guide to understanding how zustand updates store , and reRenders components",
    createdAt: "Fri Jun 08 2023",
    img: "https://images.unsplash.com/photo-1550745165-9bc0b252726f?ixlib=rb-4.0.3&q=85&fm=jpg&crop=entropy&cs=srgb",
    target: "../blogs/blog-2",
  },
  {
    title: "Lorem ipsum dolor sit amet elit. Consequatur.",
    desc: " Lorem ipsum dolor, sit amet consectetur adipisicing elit. Aut qui,dicta velit eaque maiores expedita tempore earum eos tempora quasi",
    createdAt: new Date().toDateString(),
    img: "https://picsum.photos/300/300",
    target: "#",
  },
];
---

<section aria-label="blogs" class="my-10">
  <h2 class="text-inherit text-2xl underline my-6">Blogs</h2>
  <div class="flex justify-between px-8 flex-wrap">
    {
      articles.map((article) => (
        <a
          href={article?.target}
          class="bg-white rounded-xl w-80 my-10 cursor-pointer"
        >
          <div class="h-40 w-full">
            <img
              src={article?.img}
              class="w-full h-full object-cover rounded-t-xl"
            />
          </div>
          <div class="p-4">
            <h3
              class="text-black capitalize font-extrabold text-sm md:text-base"
              style="font-family: Montserrat, sans-serif;"
            >
              {article.title}
            </h3>
            <small class="text-gray-900 text-xs font-bold">
              {article.createdAt}
            </small>
            <p
              class="text-gray-700 text-xs"
              style="font-family: Montserrat, sans-serif;"
            >
              {article.desc}
            </p>
          </div>
        </a>
      ))
    }
  </div>
</section>
